.rating {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
}

[dir="rtl"] .rating {
    --dir: left;
}

.rating::-moz-range-track {
    background: linear-gradient( to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
}

.rating::-webkit-slider-runnable-track {
    background: linear-gradient( to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}

.rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
}

.rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
}

.rating,
.rating-label {
    display: block;
}

.rating-label {
    margin-block-end: 1rem;
}

.unoccupied {
    margin: 5em;
}


/* Parking Spot Button */

.spot {
    text-align: center;
    text-decoration: none;
    border: none;
    /* border-radius: 2em; */
    /* padding: 0.3em 1.2em; */
    /* margin: 10px; */
    transition: all 0.2s;
}

.parkingSpotText {
    pointer-events: none;
}

.spot:hover {
    color: #000000;
    background-color: #bcbcbc;
}

.MicrosoftMap {
    margin-left: 50%;
    box-shadow: 2px 2px 10px rgba(2, 2, 2, 0.3);
}

.iconholder {
    width: 30%;
    margin-left: 0%;
    margin-top: 5%;
}

.card {
    width: 15rem;
    height: 250px;
    padding-left: 7px;
    border-radius: 35px;
    border-width: 0px;
    box-shadow: 2px 2px 10px rgba(3, 3, 3, 0.1);
    margin: 10px;
}

.review-card {
    /* width: 15rem; */
    height: 250px;
    /* padding-left: 7px; */
    border-radius: 35px;
    border-width: 0px;
    box-shadow: 2px 2px 10px rgba(3, 3, 3, 0.1);
    margin: 10px;
}w

.card-large-text {
    padding-top: 6%;
    font-size: 24px;
}

.time-card-text {
    font-size: 24px;
}

.openingtimes {
    padding-left: 0;
}

body {
    background: url(../img/gradient_background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: transparent;
    /* border: none; */
    /* border-image-width: 0px; */
    border: 0;
}

.SignOutButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #f82832;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.15s linear;
    height: 15px;
}

.SignOutButton:hover {
    background-color: rgba(29, 201, 160, 0.08);
    border-color: #f82832;
    color: #f82832;
    transform: scale(1.05);
}

.SignOutButton:active {
    background-color: transparent;
    border-color: #f82832;
    color: #f82832;
    transform: scale(0.95);
}

.SignOutButton:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8E8E93;
    border-color: #8E8E93;
}

.fa-bolt {
    filter: invert(74%) sepia(100%) saturate(571%) hue-rotate(359deg) brightness(104%) contrast(98%);
}

.fa-wheelchair {
    filter: invert(54%) sepia(66%) saturate(3095%) hue-rotate(166deg) brightness(103%) contrast(98%);
}

#review {
    box-shadow: 2px 2px 10px rgba(111, 71, 228, 0.9);
}

.mapholder {
    display: inline;
}

.mapholder>div {
    display: inline
}

.MicrosoftMap {
    margin-left: 0px !important;
}

.printoutcard {
    /* width: 15rem;
    height: 250px; */
    width: 380px !important;
    height: 500px !important;
    background-color: #FFFFFF !important;
    /* padding-left: 7px; */
    /* padding-right: 40px; */
    border-radius: 35px;
    /* border-top-left-radius: 35px;
    border-bottom-left-radius: 35px; */
    border-width: 0px;
    box-shadow: 2px 2px 10px rgba(3, 3, 3, 0.1);
    /* margin: 0px !important; */
}

.card-medium-text {
    font-size: 24px;
}

.review-item {
    background-color: #FFFFFF !important;
    border-radius: 35px;
    border-width: 0px;
}

.review {
    border: solid;
    border-radius: 17px;
    box-shadow: 2px 2px 10px rgba(3, 3, 3, 0.1);
    padding: 10px !important;
    border: 10px !important;
    border-width: 0px;
    height: 110px !important;
}

.reportbutton {
    border: solid;
    border-radius: 17px;
    box-shadow: 2px 2px 10px rgba(255, 0, 0, 0.1);
    padding: 10px !important;
    border-width: 0px;
}

.parkingSpotButton {
    background: url(../img/tarmac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-style: none;
    height: 80px;
    width: 170px;
<<<<<<< HEAD
<<<<<<< HEAD
    /* border-radius: 17px; */
    /* margin: 10px; */
=======
    border-radius: 17px;
    margin: 30px;
>>>>>>> parent of 4755526 (Added more css)
=======
    border-radius: 17px;
    margin: 10px;
>>>>>>> parent of ca35291 (changed the alignent with css)
    /* padding-top: auto;
    padding-bottom: auto; */
}

.spotIndicator {
    background-color: #FFFFFF;
    width: 64px;
    height: 64px;
    border-radius: 10px;
    display: inline;
    top: 0%;
    object-fit: contain;
    pointer-events: none;
    float:left
}

.parkingSpotButton:hover {
    /* filter: invert(74%); */
    transform: scale(1.05);
}

.parkingSpotButton:active {
    /* filter: invert(100%); */
    transform: scale(0.95);
}

.parkingSpotButton:disabled {
    background-color: rgba(255, 255, 255, 0);
    color: #8E8E93;
    border-color: #8E8E93;
}

.parkingSpotText {
    line-height: 80px;
    height: 100%;
}


/* #svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#line {
    stroke-width: 2px;
    stroke: rgb(91, 255, 3);
    pointer-events: none;
} */

#gate {
    width: 250px;
    height: 250px;
    z-index: 1000;
}

#svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 50;
    /* background-color: rgb(0, 255, 13); */
}

#line {
    stroke-width: 8px;
    /* background-color: rgb(0, 255, 13); */
    stroke: rgb(59, 255, 78);
    z-index: 45;
}

.point {
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
}

#bookingButton {
    display: none;
}

.reportbutton {
    top: 75px;
}

/* #bookingtimeframe {
    border-radius: 16px;
    border: 1px solid transparent;
    background-color: #FFFFFF;
} */